$body-background-color: #e7e7e7;
$header-color: #252525;
$link-color: #535353;
$link-color-hover: #b3b3b3;
$link-color-visited: #6e6e6e;
$link-background-color-active: #d7ff00;

$page-container-left-margin: 30px;
$menu-width: 138px;
$main-content-left-margin: 30px;
$main-content-width: 600px;
$third-column-left-margin: 40px;
$third-column-width: 182px;
$body-width: $page-container-left-margin + $menu-width +
             $main-content-left-margin + $main-content-width +
             $third-column-left-margin + $third-column-width;

@mixin link {
  text-decoration: none;
  color: $link-color;
  &:visited {
    color: $link-color-visited;
  }
  &:hover,
  &.hover {
    color: $link-color-hover;
  }
}

@mixin nav-link-li {
  list-style: none;
  a {
    @include link;
  }
}

@mixin nav-link-color-highlighted {
  &.selected {
    a {
      background-color: $link-background-color-active;
    }
  }
}

@mixin nav-link-linethrough-highlighted {
  &.selected {
    a {
      text-decoration: line-through;
      color: $link-color;
    }
  }
}

body {
  font-family: SommetSlab, Georgia, "Times New Roman", serif;
  background-color: $body-background-color;
  font-size: 13px;
  margin: 0;
  width: $body-width;
}



header {
  margin-top: 27px;
  margin-bottom: 38px;
  #logo {
    font-size: 22px;
    a {
      color: $header-color;
      text-decoration: none;
    }
  }
}

h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 24px 0;
}

h3 {
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 8px 0;
}

#page_container {
  margin-left: $page-container-left-margin;
}

.main-menu {
  display: block;
  float: left;
  width: $menu-width;
  ul {
    padding-left: 0;
    li {
      @include nav-link-li;
      @include nav-link-color-highlighted;
      margin-bottom: 7px;
      line-height: 2.1em;
    }
  }
}

.main-content {
  font-size: 11px;
  float: left;
  margin-left: $main-content-left-margin;
  width: $main-content-width;
  .project-info {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .project-description {
      width: 396px;
      float: left;
    }

    .project-fields {
      width: 174px;
      float: right;
      text-align: right;
    }
  }
}

.picture {
  display: block;
  margin-top: 25px;
}

.project-name {
  font-size: 13px;
  a {
    @include link;
  }
}

footer {
  clear: both;
  margin-top: 300px;
}

.third-column {
  font-size: 11px;
  float:left;
  width: $third-column-width;
  margin-left: $third-column-left-margin;
  .projects-list {
    padding-left: 0;
    margin: 13px 0;
    li {
      @include nav-link-li;
      @include nav-link-linethrough-highlighted;
      margin-bottom: 4px;
      font-size: 11px;
      line-height: 1.25em;
    }
  }
}