$bodyBackgroundColor: #e7e7e7;
$headerColor: #252525;
$linkColor: #535353;
$linkColorHover: #b3b3b3;
$linkColorVisited: #6e6e6e;
$linkBackgroundColorActive: #d7ff00;

body {
  font-family: SommetSlab, Georgia, "Times New Roman", serif;
  background-color: $bodyBackgroundColor;
  font-size: 13px;
  margin: 0;
}



header {
  margin-top: 27px;
  margin-bottom: 38px;
  #logo {
    font-size: 22px;
    a {
      color: $headerColor;
      text-decoration: none;
    }
  }
}

#page_container {
  margin-left: 30px;
}

nav.main-menu {
  display: block;
  float: left;
  width: 138px;
  ul {
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: 7px;
      line-height: 2.1em;
      a {
        text-decoration: none;
        color: $linkColor;
        &:visited {
          color: $linkColorVisited;
        }
        &:hover {
          color: $linkColorHover;
        }
      }
      &.selected {
        a {
          background-color: $linkBackgroundColorActive;
        }
      }
    }
  }
}

section#page {
  float: left;
  margin-left: 30px;
  width: 600px;
}

footer {
  clear: both;
}