$linkColor: #535353;
$linkColorHover: #b3b3b3;
$linkColorVisited: #6e6e6e;
$linkBackgroundColorActive: #d7ff00;

body {
  font-family: SommetSlab, Georgia, "Times New Roman", serif;
}

a {
  text-decoration: none;
}

#page_container {
  margin-left: 30px;
}

nav.main-menu {
  display: block;
  float: left;
  width: 20%;
  ul {
    li {
      list-style: none;
      margin-bottom: 7px;
      line-height: 2.1em;
      a {
        color: $linkColor;
        &:visited {
          color: $linkColorVisited;
        }
        &:hover {
          color: $linkColorHover;
        }
      }
      &.selected {
        a {
          background-color: $linkBackgroundColorActive;
        }
      }
    }
  }
}

section#page {
  float: left;
  width: 80%;
}

footer {
  clear: both;
}